


head{

}

header{
  height: 75px;
}
.headline{
float:left;
clear: both;
margin: 0 auto;
text-align: center;
padding:15px;
}

body{
  background: linear-gradient(left top,black,white);
}

nav{
  clear:both;
}
img{
  margin:auto 0;
}
a{
  color:black;
}

ul{
  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

li{
  display:inline;
  float:none;
  padding: 10px;
  margin: 0 auto;
  background-color: rgba(178,151,110,.5);
  border-radius: 10px;
}

#wrapper, img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width:100%;
  height:auto;
  border-radius: 40px;

}
